.left-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 100vh;
  position: sticky;
  background-color: #1b1b1b;
  top: 0;
  padding: 16px 0px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.title img {
  width: 40px;
  height: 40px;
}

.title h2 {
  color: #1b1b1b;
  letter-spacing: 4px;
  text-shadow:
     -2px -2px 0 rgb(255, 213, 0),
      2px -2px 0 rgb(255, 213, 0),
     -2px  2px 0 rgb(255, 213, 0),
      2px  2px 0 rgb(255, 213, 0),
    -3px  0px 0 rgb(255, 213, 0),
      3px  0px 0 rgb(255, 213, 0),
      0px -3px 0 rgb(255, 213, 0),
      0px  3px 0 rgb(255, 213, 0);
}

.nav {
  display: flex;
  padding: 0;
  flex-direction: column;
  width: 85%;
  margin-top: 16px;
}

.nav-link {
  color: rgb(255, 213, 0);
  width: 100%;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 8px;
  border-radius: 12px;
  padding: 8px;
  transition: background 0.3s ease;
  text-decoration: none;
  text-align:left;
}

.nav-link:hover, .nav-link.active {
  background-color: #444444;
}

.user {
  padding: 0px 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:10px;
  margin-bottom: 20px;
}

.user-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: rgb(255, 213, 0);
}

.user svg, .logout svg {
  width: 32px;
  height: 32px;
  color: rgb(255, 213, 0);
}

.logout {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.user:hover {
  cursor: pointer;
}

@media (max-width: 1240px) {
  
  .title {
    font-size: 22px;
  }
  
  .title img {
    width: 40px;
    height: 40px;
  }

  .nav-link {
    font-size: 17px;
  }

}

@media (max-width: 1024px) {
  .left-bar {
    min-width: 200px;
  }
  
  .title {
    font-size: 20px;
  }
  
  .title img {
    width: 35px;
    height: 35px;
  }
  .nav-link {
    font-size: 16px;
  }
}
