  .left-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: 100vh;
    position: sticky;
    background-color: #1b1b1b;
    top: 0;
    padding: 16px 0px;
    min-width: 200px;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: "Winky Sans", sans-serif;
    font-size: 28px;
    font-weight: 700;
  }

  .title img {
    width: 50px;
    height: 50px;
  }

  .title h2 {
    color: #1b1b1b;
    letter-spacing: 4px;
    text-shadow: 
      -2px -2px 0 rgb(255, 213, 0), 
       2px -2px 0 rgb(255, 213, 0), 
      -2px  2px 0 rgb(255, 213, 0), 
       2px  2px 0 rgb(255, 213, 0),
      -3px  0px 0 rgb(255, 213, 0), 
       3px  0px 0 rgb(255, 213, 0), 
       0px -3px 0 rgb(255, 213, 0), 
       0px  3px 0 rgb(255, 213, 0);
  }

  .nav {
    display: flex;
    padding: 0;
    flex-direction: column;
  }

  .nav-link {
    color:rgb(255, 213, 0);
    width: 100%;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 16px;
    border-radius: 16px;
    padding: 8px;
    transition: background 0.3s ease;
  }

  .nav-link:hover, .nav-link.active {
    background-color: #444444;
  }
  
  .user{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    color: rgb(255, 213, 0);
  }

  .user svg,.logout svg{
    width: 32px;
    height: 32px;
    color: rgb(255, 213, 0);
  }

  .logout{
    margin-left: 40px;
  }

  .logout:hover, .user:hover{
    cursor: pointer;
  }