.welcome-page{
  background-color:rgb(36, 36, 36);
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.left-container{
   flex:1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 16px;
   text-align: center;
   
   h1{
    font-size: 128px;
    background: linear-gradient(to right, #ffc400, #d9e555);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    @media screen and (max-width: 1280px) {
      font-size: 64px;
    }
  }
  h2{
    color:  rgb(255, 213, 0);
  }
  h3 {
    font-weight: 400;
    max-width: 70%;
    color: white;;
    @media screen and (max-width: 1024px) {
      max-width: 100%;
    }
  }
  a {
    padding: 15px 25px;
    background-color: rgb(255, 213, 0);
    color: white;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 20px;

    &:hover {
      background-color: white;
      color: rgb(255, 213, 0);
    }
  }
}

.right-container{
 flex:1;
}

.coins{
  position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.05;
    width: 700px;
    height: 550px;
}