.welcome-page {
  background-color: rgb(36, 36, 36);
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  position: relative;
  font-family: 'Inter', sans-serif;
}

.title-wp {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.title-wp h1 {
  margin-left: 20px;
  font-size: 70px;
  color: #1b1b1b;
  letter-spacing: 4px;
  text-shadow: 
    -2px -2px 0 rgb(255, 213, 0), 
     2px -2px 0 rgb(255, 213, 0), 
    -2px  2px 0 rgb(255, 213, 0), 
     2px  2px 0 rgb(255, 213, 0),
    -3px  0px 0 rgb(255, 213, 0), 
     3px  0px 0 rgb(255, 213, 0), 
     0px -3px 0 rgb(255, 213, 0), 
     0px  3px 0 rgb(255, 213, 0);
}

.title-wp img {
  width: 100px;
  height: 100px;
}

.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  z-index: 1; 
}

.left-container h1 {
  font-size: 86px;
  background: linear-gradient(to right, #e2ac09d8, #ffcc00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 0; 
}

.left-container h2 {
  color: #ffcc00;
  margin: 0; 
}

.left-container h3 {
  font-weight: 400;
  max-width: 70%;
  color: white;
  margin: 10px 0; 
  font-size: 24px;
}

.left-container a {
  padding: 15px 25px;
  background-color: rgb(255, 213, 0);
  color: white;
  border-radius: 20px;
  font-size: 14px;
  margin-top: 20px;
  text-decoration: none;
  font-weight: 900;
  width: 180px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.left-container a:hover {
  background-color: white;
  color: rgb(200, 167, 0);
}

.right-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container .box {
  width: 55%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  position: relative;
}

.right-container .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  border-radius: 20%;
  z-index: 0;
}

.right-container .box .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container img{
  width: 100%;
  height: 100%;
  z-index: 1;
}

.coins, .coins2 {
  position: absolute;
  opacity: 0.05;
  height: auto;
  animation: moneyOrbital 30s linear infinite alternate; 
}

.coins {
  left: 10%;
  width: 40%;
  transform: rotate(-10deg);
}

.coins2 {
  left:60%;
  width: 40%;
  transform: rotate(-10deg);
}


@media screen and (max-width: 1280px) {
  .left-container h1 {
    font-size: 64px;
  }
}

@media screen and (max-width: 1024px) {
  .left-container h3 {
    max-width: 100%;
  }
  
  .left-container,.right-container{
    margin: 30px 0;
    padding: 8px;
  }
  
  .left-container{
    margin-top: 156px;
  }

  .welcome-page {
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll;
  }
  
  .coins{
    width: 100%;
  }

  .coins2{
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .right-container .box {
    width: 100%;
    height: 200px;
  }
  .right-container img {
    width: 100%;
    height: 100%;
  }
  .coins{
    display: none;
  }
  .left-container{
    margin-top: 156px;
  }
}

@keyframes moneyOrbital {
  0% {
    transform: scale(1.0) rotate(-10deg);
  }
  100% {
    transform: scale(1.2) rotate(10deg);
  }
}